body {
    background-image: url("Background-img.jpg") ;
    color: aliceblue;
}

#gameTitle{
    text-decoration: underline;
    text-align: center;
} 

.start-container{
    text-align: center;
}

.inPlay-card-container{
    text-align: center;
    display: flex;
    justify-content: center;
}

.tally-container{
    display: flex;
    justify-content: space-between;
}

.cpu-war-contaier, .player-war-contaier, .ending{
    display: flex;
    justify-content: center;
}

#warPlayer-card, #warCpu-card{
    display: none;
}

#restart-card-button, #draw-card-button{
    background-color: white;
    height: 25px;
    width: 100px;
    box-shadow: inset 0 0 0 0 rgb(253, 249, 0);
    transition: ease-out 0.6s;
 }

#draw-card-button:hover {
    box-shadow: inset 100px 0 0 0 rgb(0, 221, 250);
}
#restart-card-button:hover{
    box-shadow: inset 100px 0 0 0 rgb(255, 2, 221);
}

#videoButton{
    height: 18px;
    width: 25px;
    display: flex;
}

iframe{
    height: 200px;
    width: 200px;
    display: inline;
}

#videoButton:hover{
    background-color: red;
}

